.header {
  background-color: #ffffff;
}

.header__logo p:first-child {
  color: #545454;
}
.header__logo p:last-child {
  color: #545454;
}

.menu__link {
  color: #545454;
}
.menu__link:hover {
  color: #292929;
}
.frends__items {
  margin: -30px -20px;
  flex-wrap: wrap;
}
.item-frends {
  margin: 30px 20px;
}
.item-frends__btn {
  cursor: pointer;
}
.menu__item:nth-child(2) .menu__link {
  border-bottom: 3px solid #f1cdb3;
  color: #292929;
}
@media (max-width: 771px) {
  .friends__title {

    margin-bottom: 30px;
}
.item-frends {
  margin: 15px 15px;
}
.frends__items {
  margin: -15px -15px;
}
.page__friends{
  padding-top: 60px;
  padding-bottom: 70px;
}
.pagination-items .pagination:not(:last-child) {
  margin-right: 10px;
}
.item-frends:nth-child(7),.item-frends:nth-child(8){
  display: none;
}
}
@media (max-width: 500px) {
  .item-frends:nth-child(6),.item-frends:nth-child(5),.item-frends:nth-child(4){
    display: none;
  }
}