.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}
.header__logo p:first-child {
  color: #f1cdb3;
}
.header__logo p:first-child {
  color: #f1cdb3;
}
.header__logo p:last-child {
  color: #ffffff;
}
.header__menu {
  color: #cdcdcd;
}

.menu__link {
  color: #cdcdcd;
}
.menu__item:first-child .menu__link {
  border-bottom: 3px solid #f1cdb3;
  color: #fafafa;
}

.not-only__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
}

.not-only {
  position: relative;
}

/* --------------------------------------- */

.not-only__container {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-top: 122px;
}
.not-only__content {
  padding: 223px 0 243px;
  max-width: 460px;
}
.not-only__title {
  font-family: "Georgia";
  font-size: 44px;
  line-height: 57.2px;
  color: #ffffff;
  margin-bottom: 42px;
  max-width: 310px;
}
.not-only__text {
  margin-bottom: 42px;
  color: #cdcdcd;
}

.not-only__btn {
}
.not-only__img {
}
.not-only__img img {
  width: 100%;
}
/* --------------------------------------- */
.page__about {
}
.about {
}
.about__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
}
.about__img {
  flex: 1 1 50%;
}
.about__img {
  display: flex;
  justify-content: right;
}
.about__content {
  flex: 1 1 50%;
}
.about__title {
  max-width: 370px;
  margin-bottom: 25px;
}
.about__text {
  max-width: 430px;
  margin-bottom: 25px;
  color:#4C4C4C;
  
}
/* --------------------------------------- */
.page__friends {
}

.friends__container {
}

.frends__items-content {
  position: relative;
}
.frends__items {
  margin: 0 -45px;
}
.item-frends {
  margin: 0 45px;
}

.frends__item {
}
.item-frends__btn {
  cursor: pointer;
}
.frends__btn {
  display: block;
  margin: 0 auto;
  margin-top: 60px;
  width: fit-content;
}

/* --------------------------------------- */
.page__help {
}
.help {
}
.help__container {
}
.help__title {
  max-width: 308px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 60px;
}
.help__items {
  max-width: 1200px;
  /* margin: -27px -80px; */
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.help__item {
}
.item-help {
  margin: 27px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item-help__img {
  margin-bottom: 30px;
}
.item-help__title {
  text-align: center;
}
/* --------------------------------------- */
.page__addition {
  background-color: #f6f6f6;
}
.addition {
}
.addition__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.addition__img {
}
.addition__content {
  max-width: 380px;
}
.addition__title {
  margin-bottom: 20px;
  max-width: 300px;
}
.addition__text {
  font-family: "Georgia";
  font-size: 15px;
  line-height: 16.5px;
  letter-spacing: 0.06em;
  margin-bottom: 20px;
  color: #545454;
}
.addition__card {
  display: flex;
  background-color: #f1cdb3;
  padding: 10px 15px;
  margin-bottom: 20px;
  gap: 15px;
  font-family: "Georgia";
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
  border-radius: 9px;
  width: fit-content;
  transition: all 0.3s ease;
}
.addition__card:hover {
  background-color: #fddcc4;
}
.addition__description {
  font-family: "Arial-italic";
  font-size: 12px;
  line-height: 18px;
  color: #b2b2b2;
}
@media (max-width: 1345px) {
  .pagination-next {
    right: 0px;
  }
  .pagination-back {
    left: 0px;
  }
}
@media (max-width: 1210px) {
  .pagination-next {
    right: 0px;
  }
  .pagination-back {
    left: 0px;
  }

}
@media (max-width: 1130px) {
  .pagination-next {
    right: -20px;
  }
  .pagination-back {
    left: -20px;
  }

}
@media (max-width: 1090px) {
.item-frends:last-child{
  display: none;
}
.pagination-next {
  right: 70px;
}
.pagination-back {
  left: 70px;
}
}
@media (max-width: 970px) {

  .not-only__content {
    padding: 150px 0 100px;
    margin: 0 auto;
}
  .not-only__container {

    flex-direction: column;
}
.not-only__img{
  max-width: 569px;
}
.about__container {
  flex-direction: column-reverse;
  gap: 80px;
}
.pagination-next {
  right: 20px;
}
.pagination-back {
  left: 20px;
}
.item-help{
  width: 168px;
  margin: 27px 30px;
}
.help__items {
  margin: -27px -30px;
}
.addition__container {
flex-direction: column-reverse;
 
}
.addition__container {
  gap: 60px;
}

}

@media (max-width: 850px) {
  .pagination-next {
    right: -10px;
  }
  .pagination-back {
    left: -10px;
  }
}

@media (max-width: 768px) {
  .item-frends:nth-child(2){
    display: none;
  }
  .frends__btn {
    margin-top: 42px;
}
.friends__container{
  position: relative;
}
.frends__items-content {
  position: static;
}

.pagination-next {
  position: static;
  right: 0px;
  top: auto;

  transform: translateX(0px);
}
.pagination-back {
  margin-right: 80px;
  position: static;
  left: 0px;
  top: auto;

  transform: translateX(0px);
}
.frends__paginations{
  display: flex;
    justify-content: center;
    margin-top: 20px;
}

 }
 @media (max-width: 560px) {

.not-only__img{
  margin-left: 30px;
}
.not-only__title {
  margin: 0 auto;
  margin-bottom: 42px ;
text-align: center;
  font-size: 25px;
  line-height: 32px;
  max-width: 215px;
}
.not-only__text{
  text-align: center;
}
.not-only__btn{
  margin: 0 auto;
  display: block;
  width: fit-content;
}

.about__title{
  max-width: 292px;
}
.section-padding{
  padding: 42px 0;
}
.about__container {
  gap: 42px;
}
.friends__title {
  margin-bottom: 42px;
  max-width: 250px;
}
.help__title {
  max-width: 257px;
  margin-bottom: 42px;
}
.help__items {
  justify-content: center;
}
.item-help {
  width: 130px;
  margin: 30px 30px;
}
.help__items {
  margin: -15px -15px;
}
.title-name-card {
  font-size: 15px;
}
.item-help__img{
  width: 50px;
  margin-bottom: 20px;
}
.addition__text{
  text-align: center;
}
.addition__card {
align-items: center;
  font-size: 15px;
  line-height: 16px;
  margin-right: auto ;
  margin-left: auto ;
}
.addition__description{
  max-width: 280px;
  margin-right: auto ;
  margin-left: auto ;
  
}
.addition__img {
  max-width: 260px; 
}
.addition__img img{
  width: 100%;
}
.addition__container {
  gap: 42px;
}
.about__img{
  max-width: 260px;
}
.about__img img{
width: 100%;
}

}
 @media (max-width: 392px) {
  .item-help {
    width: 130px;
    margin: 15px 15px;
  }
  .help__items {
    margin: -15px -15px;
  }
 }
 @media (max-width: 330px) {
  .help__items {
    justify-content: start;
  }
  .item-help {
    width: 125px;
    margin: 10px 10px;
  }
  .help__items {
    margin: -10px -10px;
  }
 }